*{
    margin:0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body {
    background-color:#2f3437;
}

.portfolioo-homeee-header-on-toppp {
    padding: 80px;
    background-color:#c2c6ba;
    padding-top: 5px;
    margin-bottom: 5px;
}
nav li {
    margin: 9px;
    display: inline-block;
    padding-left: 9px;
    padding-top: 10px;
}
.portfolioo-primaryyy-contents-of-top ul li a{
   font-size: larger;
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:#2d3540;
   list-style: none;
   transition: 0.4s all;
}
.portfolioo-primaryyy-contents-of-top ul li a:hover{
    color:#895654;
    text-decoration: none;
}
.portfolioo-logo {
    float: right;
    padding-left: 5px;
}
.portfolioo-nav-list {
    float: left;
}
.portfolio-container-on-topppp-22 {
    color: blue;
    top: 35%;
    left: 50%;
    font-size: 24px;
    font-weight: bold;
    background-image: url(pictures.jpg);
    background-size: cover;
    height: 400px;
}
.portfolio-headinggg-container-on-topppp-22{
   left: 60%;
   top:200px;
   margin:0px;
   text-align: center;
   color:#c2c6ba;
   font-size:40px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: #2f3437 ;
}
.portfolio-outerrrr-contents-of-box{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
}
.portfolio-inerrrr-contents-of-box h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 30px;
    color:aliceblue;
    display: flex;
    flex-direction: row;
}
.portfolio-multi-innerrrr-contents-of-box span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(193, 193, 73);
    padding-left: 20px;

}
.portfolio-multi-innerrrr-contents-of-box h2 {
    padding-top: 30px;
    color: antiquewhite;
    padding-left: 30px;
}
.portfolio-clickableee-buttonnnn{
     color: #2f3437;
     size: 20px;
     text-decoration: none;
     transition: 0.4s all;
     padding-left: 60px;
     padding-right: 60px;
     
 }   
.portfolio-fourthhhh-multi-innerrrr-contents-of-box button a:hover{
     color: brown;
     font-size: 40px;
     padding-left: 20px;
}
.portfolio-secondddd-multi-innerrrr-contents-of-box h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:30px;
    padding-left: 250px;
    padding-right:20px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: aliceblue;
}
.contents-of-thirddd-1{
    padding-left:80px;
    padding-right:50px;
    padding-top: 20px;  
    background-color:#f0f8ff76;
}
.contents-of-thirddd-1 p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    color:#1a191ec2;
    font-weight: 700;
}
.contents-of-thirddd-1 span {
    font-family: monospace;
    font-size: xx-large;
    color: rgb(21 34 17 / 76%);
}

.portfolio-headinggg-container-on-topppp-333{
    padding-top:10px;
    padding-left:40%; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: #2f3437;
    background-color:aliceblue;   
}
.portfolio-outercontents-for-book-list{
    display: flex;
    flex-direction: row;
    padding-top:40px;
    padding-bottom: 20px;
}
.portfolio-outercontents-for-book-list-111{
    padding-left:20px;
    padding-right:20px;
    background-color: azure;
    margin-left: 20px;
}
.portfolio-outercontents-for-book-list-111 img {
    margin-top: 20px;
}
.portfolio-outercontents-for-book-list-111 p {
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    padding-top:20px;
}
.portfolio-outercontents-for-book-list-111 span {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500; 
}
.portfolio-outercontents-for-book-list-111 h1 {
    color: #2f3437;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}
.portfolio-outercontents-for-book-list-222{
    background-color: azure;
    margin-left: 20px;
    padding-left:20px;
    padding-right:20px;
    margin-right: 20px;
}
.portfolio-outercontents-for-book-list-222 img{
    padding-top: 20px;
}
.portfolio-outercontents-for-book-list-222 p {
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    padding-top:20px;
}
.portfolio-outercontents-for-book-list-222 span {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500; 
}
.portfolio-outercontents-for-book-list-222 h1 {
    color: #2f3437;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}
.portfolio-outercontents-for-book-list-333{
    background-color: azure;
    margin-right:20px;
    padding-left:20px;
    padding-right:20px;
}
.portfolio-outercontents-for-book-list-333 img {
    padding-top: 20px;
}
.portfolio-outercontents-for-book-list-333 p {
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    padding-top:20px;
    
}
.portfolio-outercontents-for-book-list-333 span {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500; 
}
.portfolio-outercontents-for-book-list-333 h1 {
    color: #2f3437;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}
.portfolio-outercontents-for-paintingss{
    display: flex;
    flex-direction:row;
    margin-top: 20px;
    padding-bottom: 20px;
}
.portfolioo-footer-outercontents{
    color: black;
    background-color:#c2c6ba;
    height: 200px;

}
.portfolioo-footer-inner-contentssss{
    text-align: center;
    padding-top: 50px;

}
.portfolioo-footer-inner-contentssss h1{
    font-size: xx-large;
    font-family:serif;
    
}
.portfolioo-footer-inner-contentssss p{
    text-decoration: none;
    font-size:large;
    
}
.portfolioo-footer-inner-copyright{
    text-align: center;
    text-decoration: none;
    font-size: medium;
}
.portfolio-fourthhhh-multi-innerrrr-contents-of-box{
    text-align: center;
    padding-top:80px;
}
.portfolio-clickableee-buttonnnn{
   margin: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid;color: #d1d0c9;
    font-size: xx-large;
    background:#d1d0c9; 
    padding-left:50px;  
    padding-right:50px; 
}
.portfolio-clickableee-buttonnnn a {
    color: #2f3437;
    size: 20px;
    text-decoration: none;
    transition: 0.4s all;
    
}   
.portfolio-fourthhhh-multi-innerrrr-contents-of-box a:hover{
    color:#895654;
    font-size: 40px;
}
.portfolio-second-inerrrr-contents-of-box img {
    height: 460px;
    width: 330px;
    margin-left: 40px;
}
.portfolio-second-inerrrr-contents-of-box q {
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    padding-left: 20px;
    color:white;
    background-color: black;
}
.portfolio-childd-innercontents-for-paintingss h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: azure;
}
.portfolio-childd-innercontents-for-paintingss p {
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    font-size: x-large;
}
.portfolio-parentt-innercontents-for-paintingss{
    margin-left: 5px;
    margin-right: 5px;
}
footer{
    color: black;
    background-color:#c2c6ba;
    height: 240px;
    display: flex;
    flex-direction: row;
}
.portfoliooo-footer-inner-contentssss{
    text-align: center;
    padding-top: 80px;
}
.portfoliooo-footer-inner-contentssss h1{
    font-size: xx-large;
    font-family: serif;
    
}
.portfoliooo-footer-inner-contentssss a {
    text-decoration: none;
    font-size: large;
    color: brown;
    font-weight: bold;
    font-family: sans-serif;
}
.portfoliooo-footer-inner-copyright{
    text-align: center;
    text-decoration: none;
    font-size: medium;
}
.portfoliooo-parent-div-for-info {
    display: grid;
    grid-template-columns: auto auto;
    width: 500px;
    color:#2d3540;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.portfoliooo-div-compartment-1-image {
    height: 638px;
    width: 550px;
}
.portfoliooo-child-div-for-info h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}
.portfoliooo-child-div-for-info  p {
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
}
.portfoliooo-heading-for-socialmedia-links h1 {
    padding-top: 60px;
    padding-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: #2d3540;
}
.portfoliooo-socailmedia-links {
    padding-left: 110px;
}
.portfoliooo-socailmedia-links a {
    margin: 10px;
    color: #2d3540;
}
@media only screen and (max-width:780px) {
    nav li {
     display: inline-block;
     padding-left: 10px; 
     display:none;
    }
    .portfolio-container-on-topppp-22 {
        color: blue;
        top: 35%;
        left: 50%;
        font-size: 24px;
        font-weight: bold;
        background-image: url(pictures.jpg);
        background-size: cover;
        height: 200px;
    }
    .portfolio-headinggg-container-on-topppp-22{
        left: 60%;
        top:200px;
        margin:0px;
        text-align: center;
        color:#c2c6ba;
        font-size:20px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #2f3437 ;
     }
     .portfolio-outerrrr-contents-of-box{
        display: flex;
        flex-direction:row;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .portfolio-inerrrr-contents-of-box h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size:30px;
        padding-left: 20px;
        padding-right:30px;
        padding-top: 10px;
        color:aliceblue;
        display: flex;
        flex-direction: column;
    }
    .portfolio-multi-innerrrr-contents-of-box span {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(193, 193, 73);
        padding-left: 5px;
    }
    .portfolio-second-inerrrr-contents-of-box img {
        height:490px;
        width:350px;
        margin: 0px;
    }
    .portfolio-multi-innerrrr-contents-of-box h2 {
        padding-top: 30px;
        color: antiquewhite;
        padding-left: 30px;
        font-size: medium;
    }
    .portfolio-secondddd-multi-innerrrr-contents-of-box h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size:20px;
        padding-left:10px;
        padding-right:5px;
        padding-top: 20px;
        margin-bottom: 20px;
        margin-top: 30px;
        color: aliceblue;
    }
    .contents-of-thirddd-1{
        padding-left:20px;
        padding-right:0px;
        padding-top: 20px;  
        background-color:#f0f8ff76;
    }
    .contents-of-thirddd-1 p {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
        color:#1a191ec2;
        font-weight: 700;
    }
    .contents-of-thirddd-1 span {
        font-family: monospace;
        font-size:medium;
        color: rgb(21 34 17 / 76%);
    }
    .portfolio-clickableee-buttonnnn{
        color: #2f3437;
        font-size: 15px;
        text-decoration: none;
        transition: 0.4s all;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 5px;
        
    }   
   .portfolio-fourthhhh-multi-innerrrr-contents-of-box button a:hover{
        color: brown;
        font-size: 20px;
        padding-left: 20px;
    }
    .portfolio-headinggg-container-on-topppp-333{
        padding-top: 10px;
        padding-left: 33%; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        color: #2f3437;
        background-color:aliceblue;   
        font-size: 25px;
    }
    .portfolio-outercontents-for-book-list{
        display: flex;
        flex-direction: column;
        padding-top:40px;
        padding-bottom: 20px;
    }
    .portfolio-outercontents-for-book-list-111{
        padding-left:20px;
        padding-right:20px;
        background-color: azure;
        margin-left: 30px;
    }
    .portfolio-outercontents-for-book-list-222{
        background-color: azure;
        margin-left: 20px;
        padding-left:20px;
        padding-right:20px;
        margin-right: 20px;
        margin-top: 30px;
    }
    .portfolio-outercontents-for-book-list-333{
        background-color: azure;
        margin-right:20px;
        padding-left:20px;
        padding-right:20px;
        margin-top: 30px;
    }
    .portfolio-outercontents-for-book-list-111 img {
        margin-top: 20px;
        padding-left: 200px;
    }
    .portfolio-outercontents-for-book-list-222 img{
        padding-top: 20px;
        padding-left: 200px;
    }
    .portfolio-outercontents-for-book-list-333 img {
        padding-top: 20px;
        padding-left: 200px;
    }
    .portfolio-headinggg-container-on-topppp-333{
        padding-top:10px;
        padding-left:20%; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        color: #2f3437;
        background-color:aliceblue;   
    }
    .portfolio-outercontents-for-paintingss{
        display: flex;
        flex-direction:column;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .portfolio-childd-innercontents-for-paintingss h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: azure;
        padding-left: 30px;
    }
}
@media only screen and (max-width:653px) {
    .portfolio-second-inerrrr-contents-of-box img {
        height:340px;
        width:250px;
        margin-top: 50px;
    }
    .portfolio-inerrrr-contents-of-box h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size:30px;
        padding-left: 60px;
        padding-top: 20px;
        color:aliceblue;
        display: flex;
        flex-direction: column;
    }
    .portfolio-multi-innerrrr-contents-of-box span {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(193, 193, 73);
        padding-left: 5px;
    }
    .portfolio-clickableee-buttonnnn{
        color: #2f3437;
        font-size: 15px;
        text-decoration: none;
        transition: 0.4s all;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 2px;
        
    }  
}
@media only screen and (max-width:554px) {
    .portfolio-second-inerrrr-contents-of-box img {
        height:290px;
        width:210px;
        margin-top: 50px;
    }
    .portfolio-clickableee-buttonnnn{
        color: #2f3437;
        font-size: 12px;
        text-decoration: none;
        transition: 0.4s all;
        padding-left: 60px;
        padding-right: 60px;
        
    }   
   .portfolio-fourthhhh-multi-innerrrr-contents-of-box button a:hover{
        color: brown;
        font-size: 20px;
        padding-left: 20px;
    }
    .portfolio-second-inerrrr-contents-of-box q {
        font-family:'Times New Roman', Times, serif;
        font-size: 15px;
        padding-left: 20px;
        color:white;
        background-color: black;
    }
    .portfolio-outercontents-for-book-list-111 img {
        margin-top: 20px;
        margin-left: 40px;
    }
    .portfolio-outercontents-for-book-list-222 img{
        padding-top: 20px;
        margin-left: 40px;
    }
    .portfolio-outercontents-for-book-list-333 img {
        padding-top: 20px;
        margin-left: 40px;
    }


}
@media only screen and (max-width:628px) {
    .portfolio-outercontents-for-book-list-111 img {
        margin-top: 20px;
        margin-left: 10px;
        padding-left: 40px;
    }
    .portfolio-outercontents-for-book-list-222 img{
        padding-top: 20px;
        margin-left: 10px;
        padding-left: 40px;
    }
    .portfolio-outercontents-for-book-list-333 img {
        padding-top: 20px;
        margin-left: 10px;
        padding-left: 40px;
    }

}
@media only screen and (max-width:876px) {
    .portfolioo-logo{
        display: none;
    } 
}












































