*{
    margin:0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body {
    background-color:#2f3437;
}

.header-ontop{
    height: 20px;
    width: 100%;
    background-color:#c2c6ba;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    box-sizing: border-box;  
}
.headerr-contents-of-top{
    display: flex;
    flex-direction: row;
}

nav li {
    margin: 20px;
    display: inline-block;
}
.primaryyy-contents-of-top ul li{
    display: inline-block;
    list-style-type: style none;
}
.primaryyy-contents-of-top ul li a{
   font-size: larger;
   font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#2d3540;
    list-style: none;
    transition: 0.4s all;
}
.primaryyy-contents-of-top ul li a:hover{
    color:#895654;
    text-decoration: none;
}
.secondaryyy-contents-of-top {
    padding-left: 400px;
}
.container-out-boxx{
    padding-top: 20px;
    
}
.box-onn-topp{
 padding-left: 20px;
 padding-right: 20px;}

.outerrr-contents-of-box-1{
 display: flex;
 flex-direction: row;
 padding-left: 20px;
 padding-right: 20px;
 margin-top: 20px;
}
.divv-heading-primaryyyy{
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
}
.divv-heading-primaryyyy-2{
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
    padding-left: 32%;
}
.divv-heading-secondaryyyy{
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
    margin-bottom: 30px;
    margin-top: 20px;
}
.second-innerrr-contents-of-box-1{
    padding-left: 20px;
    padding-right:20px;
    color: azure;
    font-size: medium;
}
.divv-contents-primaryyy{
    padding: 20px;
    font-size: x-large;
}
.secondary-listt-contents{
    font-size: x-large;
    font-weight: 700;
    margin-left: 30px;
}
.outerrr-contents-of-box-2{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}
.divv-contents-primaryyy b {
    color: aquamarine;
}
.footer-on-down-last{
    color: #658f2b;
}
.clickable-botton-middlee{
    text-align: center;
    padding-top:80px;
}
button{
   margin: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid;color: #d1d0c9;
    font-size: xx-large;
    background:#d1d0c9; 
    padding-left:50px;  
    padding-right:50px; 
}
button a {
    color: #2f3437;
    size: 20px;
    text-decoration: none;
    transition: 0.4s all;
    
}   
.clickable-botton-middlee button a:hover{
    color:#895654;
    font-size: 40px;
}
.inneer-contents-of-button{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
    
    color: black;
    background-color:#c2c6ba;
    height: 200px;

}
.footer-inner-contentssss{
    text-align: center;
    padding-top: 50px;

}
.footer-inner-contentssss h1{
    font-size: xx-large;
    font-family:serif;
    
}
.footer-inner-contentssss p{
    text-decoration: none;
    font-size:large;
    
}
.footer-inner-copyright{
    text-align: center;
    text-decoration: none;
    font-size: medium;
}