*{
    margin:0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body {
    background-color:#2f3437;
}

.homeee-header-on-toppp {
    padding: 80px;
    background-color:#c2c6ba;
    padding-top: 5px;
    margin-bottom: 5px;
}
nav li {
    margin: 9px;
    display: inline-block;
    padding-left: 9px;
    padding-top: 10px;
}
.primaryyy-contents-of-top ul li a{
   font-size: larger;
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:#2d3540;
   list-style: none;
   transition: 0.4s all;
}
.primaryyy-contents-of-top ul li a:hover{
    color:#895654;
    text-decoration: none;
}
.logo {
    float: right;
    padding-left: 5px;
}
.nav-list {
    float: left;
}
.box-onn-topp {
 padding-left: 20px;
 padding-right: 20px;
}
.box-onn-topp img {
    height: 400px;
    width: 100%;

}
.outerrr-contents-of-box-1{
 display: flex;
 flex-direction: row;
 padding-left: 20px;
 padding-right: 20px;
 margin-top: 20px;
}

.divv-heading-primaryyyy{
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
}
.divv-heading-primaryyyy-2{
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
    padding-left: 32%;
}
.divv-heading-secondaryyyy{
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
    margin-bottom: 30px;
    margin-top: 20px;
}
.second-innerrr-contents-of-box-1{
    padding-left: 20px;
    padding-right:20px;
    color: azure;
    font-size: medium;
}
.divv-contents-primaryyy{
    padding: 20px;
    font-size: x-large;
}
.secondary-listt-contents{
    font-size: x-large;
    font-weight: 700;
    margin-left: 30px;
}
.outerrr-contents-of-box-2{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}
.divv-contents-primaryyy b {
    color: aquamarine;
}
.footer-on-down-last{
    color: #658f2b;
}
.clickable-botton-middlee{
    text-align: center;
    padding-top:80px;
}
button{
   margin: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid;color: #d1d0c9;
    font-size: xx-large;
    background:#d1d0c9; 
    padding-left:50px;  
    padding-right:50px; 
}
button a {
    color: #2f3437;
    size: 20px;
    text-decoration: none;
    transition: 0.4s all;
    
}   
.clickable-botton-middlee button a:hover{
    color:#895654;
    font-size: 40px;
}
.inneer-contents-of-button{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
    color: black;
    background-color:#c2c6ba;
    height: 240px;
    display: flex;
    flex-direction: row;
}
.footer-inner-contentssss{
    text-align: center;
    padding-top: 80px;
}
.footer-inner-contentssss h1{
    font-size: xx-large;
    font-family: serif;
    
}
.footer-inner-contentssss a {
    text-decoration: none;
    font-size: large;
    color: brown;
    font-weight: bold;
    font-family: sans-serif;
}
.footer-inner-copyright{
    text-align: center;
    text-decoration: none;
    font-size: medium;
}
.homeee-parent-div-for-info {
    display: grid;
    grid-template-columns: auto auto;
    width: 500px;
    color:#2d3540;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.homeee-div-compartment-1-image {
    height: 638px;
    width: 550px;
}
.homeee-child-div-for-info h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}
.homeee-child-div-for-info  p {
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
}
.heading-for-socialmedia-linkss h1 {
    padding-top: 60px;
    padding-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: #2d3540;
}
.homee-socailmedia-links {
    padding-left: 110px;
}
.homee-socailmedia-links a {
    margin: 10px;
    color: #2d3540;
}
@media only screen and (max-width:780px) {
    nav li {
     display: inline-block;
     padding-left: 10px; 
     display:none;
    }
   .box-onn-topp img {
     height: 200px;
     width: 100%;
   }
   .outerrr-contents-of-box-1{
     display: flex;
     flex-direction: column;
     padding-left: 20px;
     padding-right: 20px;
     margin-top: 20px;
   }
   .innerrr-contents-of-box-1 img {
     height:320px;
     width: 310px;
     padding-left: 100px;
    }
   .divv-heading-primaryyyy{
     font-size: x-large;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: blanchedalmond;
     margin-top: 20px;
    }
   .divv-contents-primaryyy{
     padding: 20px;
     font-size: large;
    }
   .divv-heading-secondaryyyy{
     font-size:x-large;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: blanchedalmond;
     margin-bottom: 30px;
     margin-top: 20px;
    }
   .secondary-listt-contents{
     font-size: large;
     font-weight: 700;
     margin-left: 30px;
    }
   .clickable-botton-middlee{
     text-align: center;
     padding-top:80px;
    }
   .clickable-botton-middlee{
     text-align: center;
     padding-top:80px;
    }
   .clickable-botton-middlee{
     text-align: center;
     padding-top:80px;
    }
   button{
     margin: 40px;
     border-radius: 20px;
     font-weight: bold;
     border: 2px solid;color: #d1d0c9;
     font-size: large;
     background:#d1d0c9; 
     padding-left:50px;  
     padding-right:50px; 
    }
    button a {
        color: #2f3437;
        size: 20px;
        text-decoration: none;
        transition: 0.4s all;
    }
    .clickable-botton-middlee button a:hover {
        color:#895654;
        font-size: 25px;
    }
    .inneer-contents-of-button {
        font-size: 40px;
        color: rgb(255, 255, 255);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .outerrr-contents-of-box-2 {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    }
    .inneer-contents-of-box-1 {
        padding-left: 90px;
        height: 600px;
    }

}
@media only screen and (max-width:876px) {
    .logo{
        display: none;
    } 
}
