*{
   margin:0;
   padding: 0;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 }
body {
   background-color:#2f3437;
}
.experienceee-homeee-header-on-toppp {
   padding: 80px;
   background-color:#c2c6ba;
   padding-top: 5px;
   margin-bottom: 5px;
}
nav li {
   margin: 9px;
   display: inline-block;
   padding-left: 9px;
   padding-top: 10px;
}
.experienceee-primaryyy-contents-of-top ul li a{
   font-size: larger;
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:#2d3540;
   list-style: none;
   transition: 0.4s all;
}
.experienceee-primaryyy-contents-of-top ul li a:hover{
   color:#895654;
   text-decoration: none;
}
.experienceee-logo {
   float: right;
   padding-left: 5px;
}
.experienceee-nav-list {
   float: left;
}
.experienceee-div-parentt-compartment {
   display: grid;
   grid-template-columns: auto auto;
   padding-top: 30px;
   padding-left: 40px;
}
.experienceee-div-childd-compartment-1 img {
   height: 320px;
   width: 235px ;
}
.inner-experienceee-div-childd-compartment-2-0 h1 {
   padding-left: 20px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 60px;
   color:#c2c6ba;
}
.inner-experienceee-div-childd-compartment-2-0 p {
   padding-left: 60px;
   font-family: sans-serif;
   font-size: x-large;
   font-weight: bold;
   color: azure;
}
.inner-experienceee-div-childd-compartment-2-1 {
   padding-top: 30px;
}
.inner-experienceee-div-childd-compartment-2-1 h1 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: x-large;
   padding-left: 290px;
   background-color: #c2c6ba;
}
.inner-experienceee-div-childd-compartment-2-1 p {
   font-size: larger;
   font-weight: bold;
   color: aliceblue;
   padding-left: 20px;
}
.inner-experienceee-div-childd-compartment-links h1 {
   padding-left: 290px;
   padding-top: 30px;
   color: #c2c6ba;
}
.inner-experienceee-div-childd-compartment-links a {
   text-decoration: none;
   color: rgb(247, 242, 242);
   font-size: larger;
   font-weight: bold;
   padding-left: 200px;
}
.experienceee-child-div-compertment {
   padding-left: 100px;
   padding-bottom: 30px;
}
.experienceee-child-div-compertment h1 {
   font-family: 'Times New Roman', Times, serif;
   color:black;
   background-color: #c2c6ba;
}
.experienceee-child-div-compertment li {
   font-size: larger;
   font-weight: bolder;
   color: aliceblue;
   font-family: 'Times New Roman', Times, serif;
   padding-top: 20px;
}
.experienceee-child-div-compertment span {
   font-family: sans-serif;
   font-weight: 600;
   
}
footer{
   color: black;
   background-color:#c2c6ba;
   height: 240px;
   display: flex;
   flex-direction: row;
}
.experienceee-footer-inner-contentssss{
   text-align: center;
   padding-top: 80px;
}
.experienceee-footer-inner-contentssss h1{
   font-size: xx-large;
   font-family: serif;
   
}
.experienceee-footer-inner-contentssss a {
   text-decoration: none;
   font-size: large;
   color: brown;
   font-weight: bold;
   font-family: sans-serif;
}
.experienceee-footer-inner-copyright{
   text-align: center;
   text-decoration: none;
   font-size: medium;
}
.experienceee-parent-div-for-info {
   display: grid;
   grid-template-columns: auto auto;
   width: 500px;
   color:#2d3540;
   padding-left: 40px;
   padding-top: 20px;
   padding-bottom: 20px;
}
.experienceee-div-compartment-1-image {
   height: 638px;
   width: 550px;
}
.experienceee-child-div-for-info h1 {
   font-family: 'Times New Roman', Times, serif;
   font-size: 28px;
}
.experienceee-child-div-for-info  p {
   padding-top: 5px;
   font-size: 18px;
   font-weight: bold;
}
.experienceee-heading-for-socialmedia-links h1 {
   padding-top: 60px;
   padding-left: 100px;
   font-family: 'Times New Roman', Times, serif;
   color: #2d3540;
}
.experienceee-socailmedia-links {
   padding-left: 110px;
}
.experienceee-socailmedia-links a {
   margin: 10px;
   color: #2d3540;
}
@media only screen and (max-width:780px) {
   nav li {
    display: inline-block;
    padding-left: 10px; 
    display:none;
   }
  
}
@media only screen and (max-width:876px) {
   .experienceee-logo{
       display: none;
   }
   footer{
      height: 240px;
   }
  .experienceee-footer-inner-contentssss h1{
      font-size: 20px;
      padding-top: 5px;
      padding-left: 10px;
  }
  .experienceee-footer-inner-contentssss a {
      font-size: 14px;
      font-weight: bold;
  }
  .experienceee-footer-inner-contentssss {
     padding-top: 60px;
  }
  .experienceee-footer-inner-copyright{
      font-size: 14px;
  }
  .experienceee-parent-div-for-info {
      padding-left: 40px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .experienceee-child-div-for-info h1 {
      font-family: 'Times New Roman', Times, serif;
      font-size: 25px;
      padding-left: 10px;

  }
  .experienceee-child-div-for-info  p {
      padding-top: 5px;
      font-size: 15px;
      font-weight: bold;
      padding-left: 15px;
  }
  .experienceee-heading-for-socialmedia-links h1 {
      padding-top: 80px;
      padding-left: 40px;
      font-size: 20px;
  }
  .experienceee-socailmedia-links i a {
      padding-left: 50px;
  }
  .experienceee-socailmedia-links {
      margin: 10px;
      color: #2d3540;
      padding-left: 5px;
  }
  .experienceee-socailmedia-links {
      display: flex;
      flex-direction:row;
  }
}
@media only screen and (max-width:966px){
   .inner-experienceee-div-childd-compartment-2-1 h1 {
      padding-left: 170px;
   }
}
@media only screen and (max-width:550px) {
  footer{
    height: 140px;
}
.experienceee-footer-inner-contentssss h1{
    font-size: 15px;
    padding-top: 4px;
    padding-left: 10px;
}
.experienceee-footer-inner-contentssss a {
    font-size: 10px;
    font-weight: bold;
}
.experienceee-footer-inner-contentssss {
   padding-top: 30px;
}
.experienceee-footer-inner-copyright{
    font-size: 10px;
}
.experienceee-parent-div-for-info {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.experienceee-child-div-for-info h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-left: 10px;

}
.experienceee-child-div-for-info  p {
    padding-top: 5px;
    font-size: 9px;
    font-weight: bold;
    padding-left: 15px;
}
.experienceee-heading-for-socialmedia-links h1 {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 15px;
}
.experienceee-socailmedia-links i a {
    padding-left: 30px;
}
.experienceee-socailmedia-links  {
    margin: 10px;
    color: #2d3540;
    padding-left: 5px;
}
.experienceee-socailmedia-links {
    display: flex;
    flex-direction:row;
}
}